/*
*   Author: Joaquin Gomez
*
*   Purpose: CSS for Lecture Activity 2
*/
body{
    background-color: bisque;
}
.header{
    background-color: khaki;
    padding: 5em;
    margin: 5em;
}
p{
    background-color: peru;
    border: 2px dotted blue;
}
.presentation{
    width: 300px;
}
.starwars{
    text-align: center;
}

.secondp{
    text-align: left;
}
.Secondh2{
    background-color: rgb(42, 183, 207);
}

